/* General styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f4f4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #004d40;
  color: white;
  height: 50px;
}

header .branding {
  margin-left: auto;
  margin-right: auto;
  text-decoration-line: underline;
  color: yellow;
  font-size: calc(0.8em + 1vw);
  font-weight: bold;
}

#navbar-logo {
  height: 52px;
  border-radius: 50% 0% 0% 50%;
  border: 3px solid white;
  object-fit: cover;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: -35px;
}

.top-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  color: white;
  font-size: calc(0.6em + 0.5vw);
  margin: 0;
}

.top-nav ul li {
  display: inline;
  padding: 0 10px;
}

.top-nav ul li a {
  color: white;
  text-decoration: none;
}

.top-nav ul li a:hover {
  color: #a2f2e0; /* Light green for hover effect */
}

.menu-icon {
  cursor: pointer;
  display: inline-block;
  
}

.right-container {
  display: flex;
  align-items: center;
}

.right-container a {
  display: flex;
  margin-right: 14px;
  margin-left: auto;
  font-size: calc(0.9em + 0.7vw);
  color: white;
  font-weight: bold;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-entry-form-container {
  background: rgb(84, 162, 126);
  padding: 1vw;
  border-radius: 8px;
  box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
  height: calc(53vh); /* Height proportional to screen size */
  max-height: calc(100vh - 50px); /* Ensure it doesn't exceed the viewport height minus the header */
  margin-top: 3px;
  margin-right: 2px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 2vw;
}

.form-group {
  padding: 0 8px;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  font-size: calc(0.3em + 1vw);
  font-weight: bold;
  color: whitesmoke;
  margin-left: 2px;
}

.form-group.small-input {
  min-width: 64px;
  max-width: calc(25.333% - 20px);
}

.form-group.large-input {
  flex: 0 0 50%;
  max-width: 100%;
}

.horizontal-group {
  display: flex;
  align-items: center;
  margin-left: 14px;
}

.horizontal-group label {
  padding-right: 0px;
  margin-right: 10px;
  white-space: nowrap;
  font-size: calc(0.5em + 1vw);
  font-weight: bold;
}

input[type="date"] {
  max-width: 70%;
}

input[type="text"], 
input[type="date"], 
#branchCode, 
select {
  width: 100%;
  padding: 0.5vw;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: calc(0.3em + 1vw);
  height: 30px;
}

input[type="submit"] {
  padding: 0.8vw 1.6vw;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: calc(0.5em + 1vw);
  float: right;
}

input[type="submit"]:hover {
  background-color: #005a4f;
  transform: translateY(-0.2vw);
}

input[type="file" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  text-align: start !important;
  overflow: hidden !important;
  font-size: calc(0.2em + 0.5vw);
}

.activities-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  border-radius: 6px;
  border-color: black;
}

.firstForm{
  height: 280px;
}

.category-header{
  background-color: #022347; /* Deep blue background */
  color: #ffffff; /* White text color */
  padding: 4px 4px; /* Padding around the text */
  margin: 20px 0; /* Margin to separate from other elements */
  text-align: center; /* Center the text */
  font-size: 1.5em; /* Larger font size */
  font-weight: bold; /* Bold font */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 2px; /* Letter spacing for more elegant look */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover effect */
  text-shadow: 0 2px 3px #e4d55ce8;
}

.activity {
  min-height: 60px;
}

.activity-box {
  border-radius: 4px;
  border: 3px solid #000000bb;
  padding: 0px;
  width: calc(25% - 10px);
  min-width: 130px;
  box-sizing: border-box;
  background-color: rgba(221, 232, 234, 0.753);
  
}

.activity-box img.image-preview {
  margin-top: 10px;
  max-width: 100%;
  max-height: 150px;
 
}

.activity-box .activity,
.activity-box .status,
.activity-box .responsibility,
.activity-box .remarks,
.activity-box .image {
  margin-bottom: 10px;
  text-align: center;
  font-size: calc(0.5em + 0.6vw);
  
}

.activity-box .status,
.activity-box .responsibility,
.activity-box .remarks,
.activity-box .image {
  font-size: calc(0.4em + 0.5vw)!important;
  
}

.activity-box .status {
  width: 40% !important;
  margin-right: auto;
}

.activity-box .responsibility {
 
 
  min-width: 70%;
  
}

.activity-box .remarks {
  width: 90% !important;
  
}

label {
  text-align: center;
  font-size: calc(0.4em + 0.5vw)!important;
  margin: 3px;
}

.activity-box select,
.activity-box input[type="text"],
.activity-box input[type="file"] {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 4px;
}

.status {
  font-size: calc(0.6em + 0.5vw); /* Larger font size */
  font-weight: bold;
  text-align: center;
}

.responsibility {
  font-size: calc(0.5em + 0.5vw); /* Larger font size */
  /* font-weight: bold; */
}

.submit-button {
  text-align: center;
  margin-top: 30px;
}

.generate-form-button {
  background-color: #f3f3f3ce;
  color: rgb(26, 171, 16);
  border: none;
  border-radius: 4px;
  padding: 5px 20px;
  cursor: pointer;
  float: right;
  height: 35px;
  width: 150px;
}

.generate-form-button:disabled {
  background-color: #ccc;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: auto;
  left: -123%; /* Initially hide the sidebar off-screen */
  height: 100%;
  width: 23%;
  background-color: #5a9a7f;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  z-index: 1000; /* Higher z-index to ensure it appears above other elements */
  transition: left 0.3s ease; /* Smooth transition */
}

.sidebar.open {
  left: 0; /* Move the sidebar into view */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  font-size: calc(0.6em + 0.5vw);
  text-decoration-line: underline;
  color: white;
  cursor: pointer; /* Pointer cursor for clickable items */
}

.sidebar ul .submenu {
  display: none; /* Initially hide submenu */
  padding-left: 35px; /* Indent submenu items */
}

.sidebar ul .submenu.show {
  display: block; /* Show submenu when .show class is applied */
}

.sidebar ul .submenu li {
  padding: 5% 5%;
  font-weight: bold;
  font-size: calc(0.5em + 0.5vw);
  list-style-type: disc;
  margin-left: 10%; /* Adjust margin for submenu items */
}

/* Carousel Item */
.carousel-item img {
  margin-top: 2px;
  width: auto;
  height: 450px;
  border-style: groove;
  border-radius: 7px;
  border-color: aliceblue;
}


.input-box {
  margin-top: 0px; /* Maintain no margin */
}

/* App.css */
.search-bar {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  background-color: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.search-bar.open {
  width: 300px;
  height: auto;
  border-radius: 10px;
  background-color: #ffffff;
}

.search-bar-icon {
  font-size: 24px;
  color: rgb(27, 0, 77);
  ;
}

.search-bar-content {
  padding: 20px;
  
}

.search-bar-content .form-group {
  margin-bottom: 10px;
  color: black;
  font-size: calc(0.5em + 0.5vw);
  
}

.search-bar-content label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333; /* Improve text color visibility */
}

.search-bar-content .css-1okebmr-indicatorSeparator {
  display: none;
}

.search-bar-content .css-yk16xz-control {
  border-color: #ccc !important;
  color: #333 !important; /* Improve text color visibility */
}

.search-bar-content .css-1pahdxg-control {
  border-color: #4CAF50 !important;
  box-shadow: none !important;
}

.search-bar-content .css-26l3qy-menu {
  z-index: 9999;
}

.search-bar-content .css-1hb7zxy-IndicatorsContainer {
  color: #333 !important; /* Improve dropdown text color visibility */
}

.search-bar-content .css-1uccc91-singleValue {
  color: #333 !important; /* Improve selected value text color visibility */
}




/* Media Queries for Responsive Design */
/* Mobile devices */
@media screen and (max-width: 480px) {
  .new-entry-form-container {
    height: 26vh;
  }
}

/* Small tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .new-entry-form-container {
    height: 30vh;
  }
}

/* Large tablets and small laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .new-entry-form-container {
    height: 35vh;
  }
}

/* Typical laptops and desktops */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .new-entry-form-container {
    height: 51vh;
  }
}

/* Large desktops */
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .new-entry-form-container {
    height: 55vh;
  }
}

/* Extra large desktops */
@media screen and (min-width: 1921px) {
  .new-entry-form-container {
    height: 55vh;
  }
}
