header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  background-color: #004d40;
  color: white;
  height: 8.6vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.branding {
  margin-left: auto;
  margin-right: auto;
  text-decoration-line: underline;
  color: yellow;
  font-size: calc(0.8em + 1vw);
  font-weight: bold;
}

#navbar-logo {
  height: 8.8vh;
  border-radius: 50% 0% 0% 50%;
  border: 3px solid white;
  object-fit: cover;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: -50%;
}

.top-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  color: white;
  font-size: calc(0.6em + 0.5vw);
  margin: 0;
}

.top-nav ul li {
  display: inline;
  padding: 0 10px;
}

.top-nav ul li a {
  color: white;
  text-decoration: none;
}

.top-nav ul li a:hover {
  color: #a2f2e0;
  /* Light green for hover effect */
}

.menu-icon {
  cursor: pointer;
  display: inline-block;
}

.right-container {
  display: flex;
  align-items: center;
}

.right-container a {
  display: flex;
  margin-right: 14px;
  margin-left: auto;
  font-size: calc(0.9em + 0.7vw);
  color: white;
  font-weight: bold;
}

main {
  padding: 20px;
  margin-top: 50px;
  /* Ensure content is not hidden behind the fixed header */
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 50px;

  left: -250px;

  height: 100%;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 1vh;
  z-index: 999;

  transition: left 0.3s ease;

}

.sidebar.open {
  left: 0;
  margin-top: 1.2vh;
  /* Move the sidebar into view */
}

.sidebar ul {
  list-style-type: None;
  padding: 1vh;
}

.sidebar ul li {
  padding: 5% 8%;
  font-weight: bold;
  font-size: calc(0.5em + 0.4vw);
  color: rgb(0, 0, 0);
  cursor: pointer;
  /* Pointer cursor for clickable items */
  transition: background-color 0.3s ease;


}


.sidebar ul .submenu {
  display: none;
  padding-left: 12%;
}

.sidebar ul .submenu.show {
  display: block;
  list-style-type: circle;
}


.sidebar ul .submenu li a {
  padding: 3% 1% 1% 2%;
  font-weight: normal;
  font-size: calc(0.5em + 0.5vw);
  color: #000000;
  text-decoration: none;
  border: rgb(255, 255, 255) solid 1px;
  border-radius: 7px;
  box-shadow: #33a609 1px 1px;
}

/* Additional Sidebar Style Adjustments */
.sidebar ul li .submenu-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar ul li .submenu-toggle::after {
  content: '\25B6';
  /* Right-pointing arrow */
  font-size: 0.5em;
  transition: transform 0.3s ease;
}

.sidebar ul li .submenu-toggle.show::after {
  transform: rotate(90deg);
  /* Rotate arrow when submenu is open */
}


.form-group.small-input #branchCode,
.form-group.small-input label {
  width: 10vw;
}


.firstForm {
  margin-right: 5%;
  padding-left: 0;
}

.new-entry-form {
  margin: 1%;
  width: 100%;
  padding-right: none;
}

.new-entry-form-container {
  background: none;
  padding: 0.2vw;
  border-radius: 4px;
  overflow-y: auto;
  width: 100%;
  /* overflow-y: auto; */
  max-height: 100%;
  text-align: center;
  margin-top: 55px;
  flex: 2;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.form-container {
  margin-bottom: 2%;
  display: block;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1vw;
  
}

.form-group {
  padding: 0 8px;
  box-sizing: border-box;
  font-size: calc(0.3em + 1vw);
  font-weight: bold;
  color: rgba(3, 5, 3, 0.936);
  text-align: center;

}

.form-group.small-input {
  width: calc(25%);
  /* max-width: calc(25.333% - 20px); */
}

.form-group.date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
  width: 40%;
}

.form-group.date label {
  margin-right: 2vw;
  font-size: calc(0.5em + 1vw);
  font-weight: bold;
  white-space: nowrap;

}



input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 0.5vw;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: calc(0.4em + 0.8vw);
  height: 5vh;
  text-align: center;
}



.generate-form-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  padding: auto;
  cursor: pointer;
  font-size: calc(0.4em + 0.8vw);
  margin-left: 4vw;
  transition: background-color 0.3s ease, transform 0.2s ease;
  align-self: flex-start;
  /* Keep the button aligned to the left */
  min-height: 4vh;
  min-width: 20vw;
  box-shadow: #333 2px 2px;
  margin-top: auto;
}

.generate-form-button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.form-row .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="date"],
select {
  text-align: center;
}


input[type="file" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  text-align: start !important;
  overflow: hidden !important;
  font-size: calc(0.2em + 0.5vw);

}

.category-section {
  width: 100%;
  display: inline-block;
  /* overflow-y: auto; */
}

.activities-container {
  margin-top: 0px;
  width: 100%;
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 300px;

}



.category-header {
  background-color: #ffffff;
  color: #202a95;
  padding: 4px 4px;
  margin: 20px 0;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px #00000055;
  text-shadow: 2px 2px 4px #e4d55ce8;

}

.activity {
  min-height: 60px;
}

.activity-box {
  border-radius: 4px;
  border: 3px solid #000000bb;
  padding: 0px;
  width: calc(25% - 10px);
  min-width: 130px;
  box-sizing: border-box;
  background-color: rgba(221, 232, 234, 0.753);

}

.activity-box img.image-preview {
  margin-top: 10px;
  width: 100%;
  max-height: 150px;

}

.activity-box .activity,
.activity-box .status,
.activity-box .responsibility,
.activity-box .remarks,
.activity-box .image {
  margin-bottom: 8px;
  text-align: center;
  font-size: calc(0.4em + 0.6vw);

}

.activity-box .status,
.activity-box .responsibility,
.activity-box .remarks,
.activity-box .image {
  font-size: calc(0.3em + 0.3vw) !important;

}

.activity-box .status {
  width: 40% !important;
  margin-right: 20px;
 
}

.activity-box .responsibility {
  min-width: 70%;
}

.activity-box .remarks {
  width: 90% !important;

}

label {
  text-align: center;
  font-size: calc(0.4em + 0.5vw) !important;
  margin: 1px;
}

.activity-box select,
.activity-box input[type="text"],
.activity-box input[type="file"] {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 8px;
  margin-left: 4px;
}

.status {
  font-size: calc(0.5em + 0.5vw);
  /* Larger font size */
  font-weight: bold;
  text-align: center;
}

.responsibility {
  font-size: calc(0.5em + 0.5vw);
}

.submit-button {
  text-align: center;
  margin-top: 0.5vh;
  margin-bottom: 10vh;
  height: 6vh;
  width: 15vw;
  font-size: calc(0.6em + 0.5vw);
  font-weight: bold;
  color: whitesmoke;
  background-color: #4CAF50;
  border-radius: 5px;
  border-color: #004d40 solid 2px;
  box-shadow: rgba(129, 129, 120, 0.913) 3px 3px;
}


/* Carousel Item */
.carousel-item img {
  margin-top: 230px;
  width: auto;
  height: 450px;
  /* border-style: groove; */
  border-radius: 7px;
  border-color: aliceblue;
}



/* App.css */
.search-bar {
  position: fixed;
  top: 50px;
  left: 20px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  background-color: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.search-bar.open {
  width: 300px;
  height: auto;
  border-radius: 10px;
  background-color: #ffffff;
}

.search-bar-icon {
  font-size: 24px;
  color: rgb(27, 0, 77);
  ;
}

.search-bar-content {
  padding: 20px;

}

.search-bar-content .form-group {
  margin-bottom: 10px;
  color: black;
  font-size: calc(0.5em + 0.5vw);

}

.search-bar-content label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  /* Improve text color visibility */
}

.search-bar-content .css-1okebmr-indicatorSeparator {
  display: none;
}

.search-bar-content .css-yk16xz-control {
  border-color: #ccc !important;
  color: #333 !important;
  /* Improve text color visibility */
}

.search-bar-content .css-1pahdxg-control {
  border-color: #4CAF50 !important;
  box-shadow: none !important;
}

.search-bar-content .css-26l3qy-menu {
  z-index: 9999;
}

.search-bar-content .css-1hb7zxy-IndicatorsContainer {
  color: #333 !important;
  /* Improve dropdown text color visibility */
}

.search-bar-content .css-1uccc91-singleValue {
  color: #333 !important;
  /* Improve selected value text color visibility */
}

.previous-quarter-data {
  /* display: none; */
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

.previous-quarter-data h6 {
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 2px #00000291;
  color: rgba(0, 0, 0, 0.735);
  font-weight: bold;
  font-size: calc(0.5em + 1vw);
}

.previous-quarter-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-bottom: 12px;
}

.prev-activity {
  text-align: center;
}

.prev-activity,
.prev-status,
.prev-responsibility,
.prev-remarks {
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.283);
  background-color: #ffffff;
  border-radius: 8px;
  margin: 4px;
  box-shadow: 2px 2px 10px #022347;
  font-size: calc(0.5em + 0.5vw);
}

.prev-activity {
  text-decoration: underline;
  font-weight: bold;
}

.previous-quarter-data.active {
  display: block;
}

.prev-img .image-preview {
  max-width: 100%;
  max-height: 100%;
}




/* banner */


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  max-height: 60vh;
  display: grid;
  align-content: center;
  font-family: "Jura", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}

.bannerdiv {
  width: 35vw;
  margin-right: 1%;
  margin-left: 1%;
  min-height: 20vh;
}



.banner {
  --col-gap: 5vw;
  --barH: 3vh;
  --roleH: 4vh;
  --flapH: 4vh;
  margin-left: 2vh;
  display: flex;
  flex-wrap: wrap;
  gap: var(--col-gap);
  padding-inline: calc(var(--col-gap) / 2);
  /* justify-content: center; */
  align-items: flex-start;
  list-style: none;
  width: 100%;
  max-width: 250px;
}

.banner li {
  width: 100%;
  height: 23vh;
  display: grid;
  grid-template-areas:
    "role"
    "title"
    "descr";
  align-items: flex-start;
  gap: 1rem;
  padding-block-end: calc(var(--flapH) + 1rem);
  text-align: center;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) var(--roleH),
      rgba(0, 0, 0, 0.4) calc(var(--roleH) + 0.5rem),
      rgba(0, 0, 0, 0) calc(var(--roleH) + 0.5rem + 5rem));
  clip-path: polygon(calc(var(--col-gap) / -2 - 5px) 0,
      calc(100% + var(--col-gap) / 2 + 5px) 0,
      calc(100% + var(--col-gap) / 2 + 5px) calc(100% - var(--flapH)),
      50% 100%,
      calc(var(--col-gap) / -2 - 5px) calc(100% - var(--flapH)));
}

/* bar */
.banner li::before {
  content: "";
  grid-area: role;
  height: var(--barH);
  width: calc(95% + var(--col-gap));
  margin-left: calc(var(--col-gap) / -3);
  margin-top: calc(var(--roleH) / 2 - var(--barH) / 2);
  background: grey;
  z-index: -1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.2) 30%,
      rgba(255, 255, 255, 0.1) 40%,
      rgba(0, 0, 0, 0.1) 60%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.4));  
}

/* role */
.banner li::after {
  content: "";
  grid-area: role;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(255, 255, 255, 0.4),
      rgba(141, 18, 18, 0.2) 30%,
      rgba(255, 255, 255, 0.1) 40%,
      rgba(0, 0, 0, 0.1) 60%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.4));
  height: var(--roleH);
  
}


.banner li .title,
.banner li .descr {
  padding-inline: 0.4rem;
  color: white;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  margin: -5px;
}


.banner li .title {
  font-size: calc(0.4em + 0.9vw);
  font-weight: 700;
}

.banner li .descr {
  font-size: calc(0.4em + 0.4vw);
}

.image-preview-container {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.image-preview {

  height: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  z-index: 0;
  /* Ensure the image stays behind the cross */
}

.remove-image-cross {
  position: absolute;
  top: 15px;
  right: 5px;
  background: none;
  color: red;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.remove-image-cross:hover {
  background-color: darkred;
}






/* *************Login page************ */

/* Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140VH;
  max-height: 100%;
  background: linear-gradient(135deg, #e2ebf0, #cfdce5);

}

/* Form */
.login-form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-top: 15%;

}

/* Title */
.login-form h2 {
  margin-bottom: 1rem;
  color: #022347ce;
}

/* Input Group */
.input-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.input-group label {
  display: block;
  color: #555;
  font-weight: 600;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* Error Message */
.error {
  color: #d9534f;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #129905ce;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #01142d;
}

.flexi {
  margin-top: 10vh;
  display: flex;
}
.dropdown {
  width: 45vw;
  display: flex;
  margin-top: 4vh;
  margin-left: 10%;
  padding: 0.5vw;
  margin-right: 4vw !important;
  height: 10vh;
}


.dropdown .form-input, .form-input label{
width: 15vw !important;
font-size: calc(0.3em + 1vw);
margin-right: 1vw !important;

}

.entrytable {
  max-width: 99%;
  
  margin-top: 0vh;
  padding: 1%;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Heading styling */
.entrytable h2 {
  text-align: center;
  font-size: calc(1em + 0.4vw);
  color: #333;
  margin-bottom: 1vh;
}

/* Styling for the table */
.trdata-table {
  width: 100%;
  
}

.trdata-table th,
.trdata-table td {
  padding: 10px 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: calc(0.35em + 0.7vw);
  border-bottom: 2px solid #ffffff;
}

/* Header styling */
.trdata-table thead th {
  background-color: #022347;
  color: #ffffff;
  font-weight: bold;
  font-size: calc(0.4em + 0.4vw);
}

/* Zebra striping for table rows */
.trdata-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}




/* Form Container */
.dynamic-form {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10vh;
  padding: 2%;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: all 0.3s ease;
  display: block;
  overflow-y: auto;
  position: absolute;
}

/* Form Header */
.dynamic-form h2 {
  margin-bottom: 4%;
  text-align: center;
  font-size: calc(0.5em + 1.5vw);
  color: #333;
  font-weight: bold;
}
.dynamic-form  p{
  font-size: calc(0.5em + 0.8vw)!important;
  font-weight: bold !important;
  
}
.dynamic-form  p span{
  font-size: calc(0.5em + 0.7vw)!important;
  border: 1px solid black;
  padding: 3px;
  border-radius: 3px;
  background-color: #2b2a2a00;
  box-shadow: inset 0px 0px 5px rgba(2, 35, 71, 0.4);
  margin-left: 5%;

}

.transaction-form {
  margin: auto;
}

.ttype {
  max-width: 95% !important;
  width: auto !important;
  font-size: calc(0.6em + 0.5vw);
}

/* Transaction Section */
.transaction-section {
  margin-bottom: 0%;
  transition: all 0.3s;
}

.transaction-section h3 {
  background: #022347ce;
  color: #ffffff;
  padding: 10px 15px;
  margin: 0 -20px 15px -20px;
  font-size: calc(0.6em + 0.5vw);
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  text-align: center;
}

/* Form Group */
.form-group2 {
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  align-items: center;
  
}

.form-group2 label {
  margin-bottom: 1.5vh;
  font-size: calc(0.6em + 0.5vw)!important;
  color: #555;
  font-weight: bold;
  display: block;
  width: 100%;
  align-items: center;
  box-shadow: inset 0px 0px 5px rgb(93, 93, 129);
}

.form-group2 span {
  margin-bottom: 1.5vh;
  font-size: calc(0.6em + 0.5vw)!important;
  color: #555;
  font-weight: bold;
  display: block;
}
 .remarks{
  margin-bottom: 1vh !important;
  width: 75% !important;
}
.form-group2 select,
.form-group2 input[type="radio"] {
  width: auto;
  font-size: calc(0.4em + 0.3vw);
  font-weight: 600;
  border: 1px solid #ccc;
  box-shadow: inset 0px 0px 6px  greenyellow;
  border-radius: 5px;
}

.form-group2 select:focus,
.form-group2 input[type="radio"]:focus {
  border-color: #022347;
  box-shadow: 0 0 5px rgba(2, 35, 71, 0.4);
  outline: none;

}

/* Radio Buttons */
.form-group2 label input[type="radio"] {
  margin-right: 8px;
}

/* Buttons and Dropdowns */
.form-group2 select {
  cursor: pointer;
  background: #ffffff;
  width: calc(fit-content + 2%) !important;
  display: block !important;
  margin-bottom: 1vh !important;
  
}