
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #004d40;
  color: white;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; 
}

.branding {
  margin-left: auto;
  margin-right: auto;
  text-decoration-line: underline;
  color: yellow;
  font-size: calc(0.8em + 1vw);
  font-weight: bold;
}

#navbar-logo {
  height: 52px;
  border-radius: 50% 0% 0% 50%;
  border: 3px solid white;
  object-fit: cover;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: -35px;
}

.top-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  color: white;
  font-size: calc(0.6em + 0.5vw);
  margin: 0;
}

.top-nav ul li {
  display: inline;
  padding: 0 10px;
}

.top-nav ul li a {
  color: white;
  text-decoration: none;
}

.top-nav ul li a:hover {
  color: #a2f2e0; /* Light green for hover effect */
}

.menu-icon {
  cursor: pointer;
  display: inline-block;
}

.right-container {
  display: flex;
  align-items: center;
}

.right-container a {
  display: flex;
  margin-right: 14px;
  margin-left: auto;
  font-size: calc(0.9em + 0.7vw);
  color: white;
  font-weight: bold;
}

main {
  padding: 20px;
  margin-top: 60px; /* Ensure content is not hidden behind the fixed header */
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 50px; /* Positioned just below the header */
  left: -250px; /* Initially hide the sidebar off-screen */
  height: 100%;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  z-index: 999; /* Higher z-index to ensure it appears above other elements */
  transition: left 0.3s ease; /* Smooth transition */
}

.sidebar.open {
  left: 0; /* Move the sidebar into view */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 20px;
  font-weight: bold;
  font-size: calc(0.6em + 0.5vw);
  color: rgb(0, 0, 0);
  cursor: pointer; /* Pointer cursor for clickable items */
  transition: background-color 0.3s ease;
  
}


.sidebar ul .submenu {
  display: none; /* Initially hide submenu */
  padding-left: 20px; /* Indent submenu items */
}

.sidebar ul .submenu.show {
  display: block; /* Show submenu when .show class is applied */
  list-style-type:square;
}


.sidebar ul .submenu li a{
  padding: 5px 0;
  font-weight: normal;
  font-size: calc(0.5em + 0.8vw);
  color: #000000; 
  text-decoration:none;
  border: rgb(255, 255, 255) solid 1px;
  border-radius: 7px;
  box-shadow: #33a609 1px 1px;
}

/* Additional Sidebar Style Adjustments */
.sidebar ul li .submenu-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar ul li .submenu-toggle::after {
  content: '\25B6'; /* Right-pointing arrow */
  font-size: 0.8em;
  transition: transform 0.3s ease;
}

.sidebar ul li .submenu-toggle.show::after {
  transform: rotate(90deg); /* Rotate arrow when submenu is open */
}


.new-entry-form-container {
  background: NONE;
  padding: 1vw;
  border-radius: 4px;
  width: 100%;
  max-width: 100%;
  margin-top: 52px;
  margin-right: 2px;
  text-align: center; /* Center align the content */
 
}

.form-row {
  display: flex;
  justify-content: center; /* Center align the row content */
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1vw;
}

.form-group {
  padding: 0 8px;
  box-sizing: border-box;
  font-size: calc(0.3em + 1vw);
  font-weight: bold;
  color: rgba(3, 5, 3, 0.936);
  margin-left: 2px;
  text-align: center; /* Center align the text inside the form group */
}

.form-group.small-input {
  min-width: 54px;
  max-width: calc(25.333% - 20px);
}

.form-group.large-input {
  max-width: 100%;
}

.form-group.date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  width: 20%;
}

.form-group.date label {
  margin-right: 10px;
  font-size: calc(0.5em + 1vw);
  font-weight: bold;
  white-space: nowrap; /* Prevent the label from wrapping */
}

input[type="date"] {
  max-width: 90%;
}

input[type="text"], 
input[type="date"], 
select {
  width: 100%;
  padding: 0.5vw;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: calc(0.4em + 1vw);
  height: 30px;
  text-align: center;
}

.form-group.quarter-month-date {
  display: flex;
  align-items: center;
  justify-content: center; /* Center align the Quarter, Month, and Date fields */
  width: 100%;
}

.generate-form-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: calc(0.5em + 1vw);
  margin-left: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  align-self: flex-start; /* Keep the button aligned to the left */
  
}

.generate-form-button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.form-row .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"], 
input[type="date"], 
select {
  text-align: center;
}


input[type="file" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  text-align: start !important;
  overflow: hidden !important;
  font-size: calc(0.2em + 0.5vw);
}

.activities-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  border-radius: 6px;
  border-color: black;
}



.category-header{
  background-color: #ffffff; 
  color: #202a95; 
  
  padding: 4px 4px; 
  margin: 20px 0; 
  text-align: center; 
  font-size: 1.5em; 
  font-weight: bold; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  border-radius: 5px; 
 box-shadow: 0px 0px 1px 1px #00000055;
  transition: transform 0.3s ease, background-color 0.3s ease; 
  text-shadow: 2px 2px 4px #e4d55ce8;
}

.activity {
  min-height: 60px;
}

.activity-box {
  border-radius: 4px;
  border: 3px solid #000000bb;
  padding: 0px;
  width: calc(25% - 10px);
  min-width: 130px;
  box-sizing: border-box;
  background-color: rgba(221, 232, 234, 0.753);
  
}

.activity-box img.image-preview {
  margin-top: 10px;
  max-width: 100%;
  max-height: 150px;
 
}

.activity-box .activity,
.activity-box .status,
.activity-box .responsibility,
.activity-box .remarks,
.activity-box .image {
  margin-bottom: 10px;
  text-align: center;
  font-size: calc(0.5em + 0.6vw);
  
}

.activity-box .status,
.activity-box .responsibility,
.activity-box .remarks,
.activity-box .image {
  font-size: calc(0.4em + 0.5vw)!important;
  
}

.activity-box .status {
  width: 40% !important;
  margin-right: 25px;
}

.activity-box .responsibility {
 
 
  min-width: 70%;
  
}

.activity-box .remarks {
  width: 90% !important;
  
}

label {
  text-align: center;
  font-size: calc(0.4em + 0.5vw)!important;
  margin: 3px;
}

.activity-box select,
.activity-box input[type="text"],
.activity-box input[type="file"] {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 4px;
}

.status {
  font-size: calc(0.6em + 0.5vw); /* Larger font size */
  font-weight: bold;
  text-align: center;
}

.responsibility {
  font-size: calc(0.5em + 0.5vw); /* Larger font size */
  /* font-weight: bold; */
}

.submit-button {
  text-align: center;
  margin-top: 30px;
}


/* Carousel Item */
.carousel-item img {
  margin-top: 2px;
  width: auto;
  height: 450px;
  border-style: groove;
  border-radius: 7px;
  border-color: aliceblue;
}



/* App.css */
.search-bar {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  background-color: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.search-bar.open {
  width: 300px;
  height: auto;
  border-radius: 10px;
  background-color: #ffffff;
}

.search-bar-icon {
  font-size: 24px;
  color: rgb(27, 0, 77);
  ;
}

.search-bar-content {
  padding: 20px;
  
}

.search-bar-content .form-group {
  margin-bottom: 10px;
  color: black;
  font-size: calc(0.5em + 0.5vw);
  
}

.search-bar-content label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333; /* Improve text color visibility */
}

.search-bar-content .css-1okebmr-indicatorSeparator {
  display: none;
}

.search-bar-content .css-yk16xz-control {
  border-color: #ccc !important;
  color: #333 !important; /* Improve text color visibility */
}

.search-bar-content .css-1pahdxg-control {
  border-color: #4CAF50 !important;
  box-shadow: none !important;
}

.search-bar-content .css-26l3qy-menu {
  z-index: 9999;
}

.search-bar-content .css-1hb7zxy-IndicatorsContainer {
  color: #333 !important; /* Improve dropdown text color visibility */
}

.search-bar-content .css-1uccc91-singleValue {
  color: #333 !important; /* Improve selected value text color visibility */
}

.previous-quarter-data {
  /* display: none; */
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}
.previous-quarter-data h6{
  text-align: center ;
  text-decoration: underline;
  text-shadow:2px 2px 2px #00000291  ;
  color: rgba(0, 0, 0, 0.735);
font-weight: bold;
font-size: calc(0.5em + 1vw);
}

.previous-quarter-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-bottom: 12px;
}
.prev-activity{
  text-align: center ;
}
.prev-activity, .prev-status, .prev-responsibility,.prev-remarks{
  text-align: center ;
border: 2px solid rgba(255, 255, 255, 0.283);
background-color: #ffffff ;
border-radius: 8px;
margin: 4px;
box-shadow:2px 2px 10px #022347;
font-size: calc(0.5em + 0.5vw);
}
.prev-activity{
  text-decoration: underline;
  font-weight: bold;
}
.previous-quarter-data.active {
  display: block;
}

.prev-img .image-preview{
  max-width: 100%; 
   max-height: 100%;
 
  
}





/* Media Queries for Responsive Design */
/* Mobile devices */
@media screen and (max-width: 480px) {
  .new-entry-form-container {
    height: 26vh;
  }
}

/* Small tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .new-entry-form-container {
    height: 30vh;
  }
}

/* Large tablets and small laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .new-entry-form-container {
    height: 35vh;
  }
}

/* Typical laptops and desktops */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .new-entry-form-container {
    height: 51vh;
  }
}

/* Large desktops */
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .new-entry-form-container {
    height: 55vh;
  }
}

/* Extra large desktops */
@media screen and (min-width: 1921px) {
  .new-entry-form-container {
    height: 55vh;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .sidebar {
    width: 80%;
  }
}

/* Large tablets and small laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    width: 60%;
  }
}